
__pycache__/
*.py[cod]
*.pyo
*.pyd

env/
venv/
.venv/

.ipynb_checkpoints/

*.aux
*.bbl
*.blg
*.brf
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot


.DS_Store
Thumbs.db
